@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #00ff7f;
  --glow: #a0ffa0;
  --accent: #00fff0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --text-glow: 0 0 6px var(--glow), 0 0 12px var(--glow), 0 0 24px var(--glow);
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  } */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
